<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-12 col-md-3 mb-2 text-center text-md-start">
      <div class="align-items-center">
        <img class="rounded pt-0" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOk8pdYQ26xXlIWBW7696krwtjMjniM4bOiw&usqp=CAU" height="40px" style="vertical-align:bottom">
      </div>
    </div>

    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-lg btn-outline-dark" (click)="logOut()">Logout</button>
    </div>
  </header>
