<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="col-12 d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img class="rounded" src="https://acortar.link/nl17yh" height="40px">
        <span class="fs-4">A la carta</span>
    </a>

    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-outline-secondary me-2" (click)="logOut()">Logout</button>
    </div>
  </header>
