<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar-Sesión</title>
</head>

<body class="text-center">
    <div class="form-signin">
        <form [formGroup]="form" (ngSubmit)="login($event)" novalidate>
          <img class="my-4 rounded" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOk8pdYQ26xXlIWBW7696krwtjMjniM4bOiw&usqp=CAU" alt="" height="57">
          <h1 class="h3 mb-3 fw-normal">Log In</h1>
      
          <div class="form-floating">
            <input type="email" formControlName="email" class="form-control" id="email" placeholder="name@example.com"
            [ngClass]="{'is-invalid':Email?.errors && Email?.touched, 'is-valid': !Email?.errors && Email?.touched}">
            <label for="email">Email</label>
          </div>
          <div *ngIf="Email?.errors && Email?.touched">
            <p *ngIf="Email?.hasError('required')" class="text-danger">
              Email is required.
            </p>
            <p *ngIf="Email?.hasError('email')" class="text-danger">
              Invalid email.
            </p>  
          </div>
          
          <div class="form-floating mt-3">
            <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password"
            [ngClass]="{'is-invalid':Password?.errors && Password?.touched, 'is-valid': !Password?.errors && Password?.touched}">
            <label for="password">Password</label>
          </div>
          <div *ngIf="Password?.errors && Password?.touched">
            <p *ngIf="Password?.hasError('required')" class="text-danger">
              Password is required.
            </p>
            <p *ngIf="Password?.errors?.['minlength']" class="text-danger">
              Invalid password.
            </p>
          </div> 
          <button class="w-100 btn btn-lg btn-outline-dark mt-4" type="submit" [disabled]="isLoading | async">Submit</button>
        </form>
    </div>
    <app-spinner></app-spinner>
</body>

</html>